In [179]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [180]:
import warnings
warnings.filterwarnings('ignore')

In [181]:
df1 = pd.read_csv("Plant_1_Generation_Data.csv")
df2 = pd.read_csv("Plant_1_Weather_Sensor_Data.csv")

In [182]:
df1.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [183]:
df2.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,5/15/2020 0:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,5/15/2020 0:15,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,5/15/2020 0:30,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,5/15/2020 0:45,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,5/15/2020 1:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [184]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [185]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   object
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 149.3+ KB

In [186]:
df1['DATE_TIME'] = df1['DATE_TIME'].astype('datetime64[ns]')
df2['DATE_TIME'] = df2['DATE_TIME'].astype('datetime64[ns]').replace('/','-')

In [187]:
df2.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [188]:
df = pd.merge(df1,df2, how='left', on='DATE_TIME')

In [189]:
df

,DATE_TIME,PLANT_ID_x,SOURCE_KEY_x,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,PLANT_ID_y,SOURCE_KEY_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2,2020-05-15 00:00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
3,2020-05-15 00:00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
4,2020-05-15 00:00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68773,2020-06-17 23:45:00,4135001,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0,4135001.0,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0
68774,2020-06-17 23:45:00,4135001,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0,4135001.0,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0
68775,2020-06-17 23:45:00,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0,4135001.0,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0
68776,2020-06-17 23:45:00,4135001,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0,4135001.0,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0
68777,2020-06-17 23:45:00,4135001,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0,4135001.0,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

### Droping Unwanted Columns

In [190]:
df = df.drop(columns=['PLANT_ID_x', 'SOURCE_KEY_x','PLANT_ID_y', 'SOURCE_KEY_y'])

In [191]:
df.head()

,DATE_TIME,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15,0.0,0.0,0.0,6259559.0,25.184316,22.857507,0.0
1,2020-05-15,0.0,0.0,0.0,6183645.0,25.184316,22.857507,0.0
2,2020-05-15,0.0,0.0,0.0,6987759.0,25.184316,22.857507,0.0
3,2020-05-15,0.0,0.0,0.0,7602960.0,25.184316,22.857507,0.0
4,2020-05-15,0.0,0.0,0.0,7158964.0,25.184316,22.857507,0.0

In [192]:
df.isna().sum()

DATE_TIME                  0
DC_POWER                   0
AC_POWER                   0
DAILY_YIELD                0
TOTAL_YIELD                0
AMBIENT_TEMPERATURE    23098
MODULE_TEMPERATURE     23098
IRRADIATION            23098
dtype: int64

In [193]:
df.shape

(68778, 8)

In [194]:
# We know we don't want night time data 

df = df[df['IRRADIATION'] != 0.0]

In [195]:
df.isna().sum()

DATE_TIME                  0
DC_POWER                   0
AC_POWER                   0
DAILY_YIELD                0
TOTAL_YIELD                0
AMBIENT_TEMPERATURE    23098
MODULE_TEMPERATURE     23098
IRRADIATION            23098
dtype: int64

In [196]:
df = df.fillna(method = 'ffill')

In [197]:
df.isna().sum()

DATE_TIME              0
DC_POWER               0
AC_POWER               0
DAILY_YIELD            0
TOTAL_YIELD            0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64

In [198]:
df['Month'] = df['DATE_TIME'].dt.month
df['Day'] = df['DATE_TIME'].dt.day

df['Hour'] = df['DATE_TIME'].dt.hour
df['Minute'] = df['DATE_TIME'].dt.minute

In [199]:
df = df.drop(columns='DATE_TIME')
df = df[['Month','Day','Hour','Minute', 'DC_POWER', 'AC_POWER', 'DAILY_YIELD', 'TOTAL_YIELD','AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION']]
df

,Month,Day,Hour,Minute,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
489,5,15,5,45,0.0,0.0,0.0,6259559.0,24.289211,23.096692,0.000863
490,5,15,5,45,0.0,0.0,0.0,6183645.0,24.289211,23.096692,0.000863
491,5,15,5,45,0.0,0.0,0.0,6987759.0,24.289211,23.096692,0.000863
492,5,15,5,45,0.0,0.0,0.0,7602960.0,24.289211,23.096692,0.000863
493,5,15,5,45,0.0,0.0,0.0,7158964.0,24.289211,23.096692,0.000863
...,...,...,...,...,...,...,...,...,...,...,...
68333,6,17,18,45,0.0,0.0,5967.0,7287002.0,23.583049,22.460372,0.000039
68334,6,17,18,45,0.0,0.0,5883.0,7028601.0,23.583049,22.460372,0.000039
68335,6,17,18,45,0.0,0.0,5819.0,7251204.0,23.583049,22.460372,0.000039
68336,6,17,18,45,0.0,0.0,5817.0,6583369.0,23.583049,22.460372,0.000039
68337,6,17,18,45,0.0,0.0,5910.0,7363272.0,23.583049,22.460372,0.000039

### Machine Learning

In [200]:
x = df.drop(columns=['DC_POWER','DAILY_YIELD', 'TOTAL_YIELD'])
y = df['DC_POWER']

In [201]:
x_encoded = x.copy()
x_encoded

,Month,Day,Hour,Minute,AC_POWER,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
489,5,15,5,45,0.0,24.289211,23.096692,0.000863
490,5,15,5,45,0.0,24.289211,23.096692,0.000863
491,5,15,5,45,0.0,24.289211,23.096692,0.000863
492,5,15,5,45,0.0,24.289211,23.096692,0.000863
493,5,15,5,45,0.0,24.289211,23.096692,0.000863
...,...,...,...,...,...,...,...,...
68333,6,17,18,45,0.0,23.583049,22.460372,0.000039
68334,6,17,18,45,0.0,23.583049,22.460372,0.000039
68335,6,17,18,45,0.0,23.583049,22.460372,0.000039
68336,6,17,18,45,0.0,23.583049,22.460372,0.000039
68337,6,17,18,45,0.0,23.583049,22.460372,0.000039

In [202]:
# We have only one challenge all are numbers only time and date
# Here I am using cyclic encoding
x_encoded['hour_sin'] = np.sin(2 * np.pi * x['Hour'] / 24)
x_encoded['hour_cos'] = np.cos(2 * np.pi * x['Hour'] / 24)

x_encoded['minute_sin'] = np.sin(2 * np.pi * x['Minute'] / 60)
x_encoded['minute_cos'] = np.cos(2 * np.pi * x['Minute'] / 60)

In [203]:
x_encoded['month_sin'] = np.sin(2 * np.pi * (x['Month'] -1) / 12)
x_encoded['month_cos'] = np.cos(2 * np.pi * (x['Month'] -1) / 12)

x_encoded['day_sin'] = np.sin(2 * np.pi * x['Day'] / 7)
x_encoded['day_cos'] = np.cos(2 * np.pi * x['Day'] / 7)

In [204]:
# Droping unwanted columns 
x_encoded = x_encoded.drop(columns= ['Month','Day', 'Hour', 'Hour'])
x_encoded.columns = x_encoded.columns.str.upper()

In [208]:
x_encoded = x_encoded[['DAY_SIN', 'DAY_COS','MONTH_SIN', 'MONTH_COS','HOUR_SIN', 'HOUR_COS','MINUTE_SIN', 'MINUTE_COS','MINUTE', 'AC_POWER', 'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE','IRRADIATION']]
x_encoded

,DAY_SIN,DAY_COS,MONTH_SIN,MONTH_COS,HOUR_SIN,HOUR_COS,MINUTE_SIN,MINUTE_COS,MINUTE,AC_POWER,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
489,0.781831,0.623490,0.866025,-0.500000,0.965926,2.588190e-01,-1.0,-1.836970e-16,45,0.0,24.289211,23.096692,0.000863
490,0.781831,0.623490,0.866025,-0.500000,0.965926,2.588190e-01,-1.0,-1.836970e-16,45,0.0,24.289211,23.096692,0.000863
491,0.781831,0.623490,0.866025,-0.500000,0.965926,2.588190e-01,-1.0,-1.836970e-16,45,0.0,24.289211,23.096692,0.000863
492,0.781831,0.623490,0.866025,-0.500000,0.965926,2.588190e-01,-1.0,-1.836970e-16,45,0.0,24.289211,23.096692,0.000863
493,0.781831,0.623490,0.866025,-0.500000,0.965926,2.588190e-01,-1.0,-1.836970e-16,45,0.0,24.289211,23.096692,0.000863
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68333,0.433884,-0.900969,0.500000,-0.866025,-1.000000,-1.836970e-16,-1.0,-1.836970e-16,45,0.0,23.583049,22.460372,0.000039
68334,0.433884,-0.900969,0.500000,-0.866025,-1.000000,-1.836970e-16,-1.0,-1.836970e-16,45,0.0,23.583049,22.460372,0.000039
68335,0.433884,-0.900969,0.500000,-0.866025,-1.000000,-1.836970e-16,-1.0,-1.836970e-16,45,0.0,23.583049,22.460372,0.000039
68336,0.433884,-0.900969,0.500000,-0.866025,-1.000000,-1.836970e-16,-1.0,-1.836970e-16,45,0.0,23.583049,22.460372,0.000039
68337,0.433884,-0.900969,0.500000,-0.866025,-1.000000,-1.836970e-16,-1.0,-1.836970e-16,45,0.0,23.583049,22.460372,0.000039